<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lin.cms.mapper.BookMapper">
    <resultMap id="BaseResultMap" type="lin.cms.model.BookDO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="author" jdbcType="VARCHAR" property="author"/>
        <result column="summary" jdbcType="VARCHAR" property="summary"/>
        <result column="image" jdbcType="VARCHAR" property="image"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>
    
    <select id="selectByTitleLikeKeyword" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT id, title, author, summary, image, create_time, update_time, delete_time
        FROM lin_book
        WHERE title LIKE #{q}
        AND is_deleted = 0
    </select>
</mapper>