<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lin.cms.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="lin.cms.mapper.UserMapper">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="username" property="username"/>
        <result column="nickname" property="nickname"/>
        <result column="avatar" property="avatar"/>
        <result column="email" property="email"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_time" property="deleteTime"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <select id="selectCountByUsername" parameterType="java.lang.String" resultType="java.lang.Integer">
        select COUNT(*) FROM lin_user WHERE username = #{username} AND is_deleted = 0
    </select>

    <select id="selectCountById" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select COUNT(*) FROM lin_user WHERE id = #{id} AND is_deleted = 0
    </select>

    <select id="selectPageByGroupId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT  u.id, u.username, u.nickname,
                u.avatar, u.email, u.create_time,
                u.update_time, u.delete_time
        FROM lin_user AS u
        WHERE u.id IN
        (
            SELECT ug.user_id
            FROM lin_user_group ug
            WHERE ug.group_id = #{groupId}
            AND ug.group_id != #{rootGroupId}
        )
        AND u.is_deleted = 0
    </select>
</mapper>
